.App {
  text-align: center;
}

header{
  text-align: center;
  color: rgb(223, 149, 223);
  background: rgb(78, 78, 78);
}

li{
  min-height: 270px;
  max-width: 350px;
  background-color: steelblue;
  width: 40%;
  color:rgb(212, 212, 212);
  list-style: none;
  padding: 10px;
  margin: 5px;
  border: solid 2px rgb(255, 196, 0);
}

ul{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

label{
  margin-left: 5px;
  color: azure;
}

body{
  background-color:  rgb(104, 104, 104);
}

img{
  display: block;
  margin: auto;
  max-height: 140px;
  min-height: 100px;
}

p{
  margin: 0px;
}